<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art</title>
</head>
<body>
    <h1><i>Ascii-Art Generator</i></h1>
    <br>
    <br>
    <br>
    <form action="/art" method="post">
        <textarea name="text" placeholder="write text" style="width: 240px; height: 220px;">{{.Text}}</textarea>
        <br>
        <select name="banner">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option>
        </select>
        <button type="submit">generate</button>
    </form>
    <div>
        {{if .Result}}
        <textarea style="background-color: rgba(82, 79, 79, 0.185); color: rgb(14, 13, 13); width: 1840px; height: 500px;" name="result" placeholder="result" >{{.Result}}</textarea>
        {{end}}
    </div> 
</body>
</html>